asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
backports.zoneinfo==0.2.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.0.4
cryptography==37.0.4
dateparser==1.1.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==3.2.14
django-baker==0.22
django-extensions==3.1.3
djangorestframework==3.13.1
djangorestframework-simplejwt==4.4.0
Faker==13.15.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
jarowinkler==1.2.0
joblib==1.1.0
lark==1.1.2
model-bakery==1.3.2
nltk==3.6.7
packaging==21.3
pbr==5.9.0
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pycparser==2.21
Pygments==2.12.0
PyJWT==1.7.1
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.0.1
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rapidfuzz==2.1.4
recipe==0.31.5
redis==4.3.4
regex==2022.3.2
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
SQLAlchemy==1.3.24
sqlparse==0.4.2
stevedore==3.5.0
sureberus==0.14.0
tablib==3.1.0
tomli==1.2.3
tqdm==4.64.0
typing-extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.10
walrus==0.9.2
Whoosh==2.7.4
wrapt==1.14.1
